{% extends 'base.html' %}

{% load static %}

{% block title %}{{title}}{% endblock title %}


{% block content %}

<div class="jumbotron mt-5">
    <div class="header">{{header}}</div>
    <div class="display_table">
        <table class="table">
            <thead>
                <tr>
                    <th>COUNT</th>
                    <th>CATEGORY</th>
                    <th>ITEM NAME</th>
                    <th>QUANTITY IN STORE</th>
                </tr>
            </thead>
            {% for i in qs %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.category}}</td>
                <td>{{i.item_name}}</td>
                <td>{{i.quantity}}</td>
            </tr>
            {% empty %}
                There is no record in DB.
                {% endfor %}
        </table>
    </div>
</div>


    

{% endblock content %}





