{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% load static %}

{% block title %}{{title}}{% endblock title %}


{% block content %}

<div class="jumbotron mt-5">
    <div class="header">{{header}}</div>

    

    <a href="{% url 'issue_items' qs.id %}"><div class="btn btn-danger">ISSUE THIS ITEM</div></a>
    <a href="{% url 'receive_items' qs.id %}"><div class="btn btn-primary">RECEIVE THIS ITEM</div></a>
    <div class="display_table">
        <table class="table">
            
                <tr>
                    <th>ITEM NAME</th>
                    <th>QUANTITY IN STORE</th>
                    <th>LAST UPDATED</th>
                    <th>REORDER LEVEL</th>
                </tr>
           
            <tr>
                <td>{{qs.item_name}}</td>
                <td>{{qs.quantity}}</td>
                <td>{{qs.last_updated}}</td>
                <td>{{qs.reorder_level}}</td>
            </tr>
        </table>
    </div>
</div>


    

{% endblock content %}
